Repository IDAES/idaes-pse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbianchi-lbl, @ksbeattie, @dangunter, @bpaul4, @andrewlee94, @dallan-keylogic, @avdudchenko, @rundxdi, @Robbybp, @jsiirola, @adowling2, @aostace01, @agarciadiego, @MAZamarripa, @AlexNoring

.github/CODEOWNERS:

# Code owners will be used to identify maintainers, notably
# for developmental and contributed code

# Overall (non-specific)
* @lbianchi-lbl @ksbeattie
# packaging
setup.py @lbianchi-lbl @ksbeattie
requirements*.txt @lbianchi-lbl @ksbeattie 

# CI infra
.github/ @lbianchi-lbl @ksbeattie 

# testing
pytest*.ini @lbianchi-lbl
conftest.py @lbianchi-lbl

# Docs
/docs @dangunter @bpaul4

# Commands
/idaes/commands/ @dangunter

# Core
/idaes/core/ @andrewlee94 @dallan-keylogic @lbianchi-lbl
/idaes/core/dmf/ @dangunter
/idaes/core/surrogate/ @andrewlee94 @bpaul4 @avdudchenko @rundxdi
/idaes/core/ui/ @dangunter

# Models
/idaes/models/ @andrewlee94 @bpaul4

# Apps - each package needs a maintainer
/idaes/apps/caprese/ @Robbybp
/idaes/apps/grid_integration/ @jsiirola @adowling2
#     /idaes/apps/matopt/ TBD
/idaes/apps/nmpc/ @Robbybp
/idaes/apps/uncertainty_propagation/ @adowling2

# Models Extra - each package needs a maintainer
#     /idaes/models_extra/carbon_capture TBD
/idaes/models_extra/column_models/ @aostace01 @agarciadiego
/idaes/models_extra/gas_distribution/ @Robbybp
/idaes/models_extra/gas_solids_contactors/ @aostace01
/idaes/models_extra/power_generation/ @bpaul4 @MAZamarripa
/idaes/models_extra/power_generation/costing/ @MAZamarripa @AlexNoring
/idaes/models_extra/power_generation/properties/ @bpaul4 @AlexNoring
/idaes/models_extra/power_generation/unit_models/soc_submodels/ @bpaul4 @dallan-keylogic

# Scripts
/scripts/colab_helper.py @adowling2

Fix calculate_derivatives for PETSc (#1342)
  idaes/core/solvers/petsc.py
  idaes/core/solvers/tests/test_petsc.py
Owners: @andrewlee94, @dallan-keylogic, @lbianchi-lbl

Improving tests for degeneracy hunter
  idaes/core/util/tests/test_model_diagnostics.py
Owners: @andrewlee94, @dallan-keylogic, @lbianchi-lbl

Restore SCIP installation step w/o version pinning in setup-idaes Action
  .github/actions/setup-idaes/action.yml
Owners: @lbianchi-lbl, @ksbeattie

Make `DegeneracyHunter` tests more robust wrt different solutions (#1360)
  .github/actions/setup-idaes/action.yml
  idaes/core/util/tests/test_model_diagnostics.py
Owners: @lbianchi-lbl, @ksbeattie, @andrewlee94, @dallan-keylogic

Add upper versions constraints for numpy and pandas
  setup.py
Owners: @lbianchi-lbl, @ksbeattie

Add upper versions constraints for numpy and pandas (#1361)
  setup.py
Owners: @lbianchi-lbl, @ksbeattie

2.4.0rc0
  idaes/ver.py
  setup.py
Owners: @lbianchi-lbl, @ksbeattie

2.5.0dev0
  idaes/ver.py
Owners: @lbianchi-lbl, @ksbeattie

2.4.0
  idaes/ver.py
Owners: @lbianchi-lbl, @ksbeattie

Remove --pyargs idaes from pytest.ini
  pytest.ini
Owners: @lbianchi-lbl

Move markers definition from pytest.ini to top-level conftest.py
  idaes/conftest.py
  pytest.ini
Owners: @lbianchi-lbl

Add --pyargs idaes to pytest CLI opts in GHA workflows
  .github/workflows/core.yml
  .github/workflows/integration.yml
Owners: @lbianchi-lbl, @ksbeattie

Remove duplicated pytest_configure() definition
  idaes/conftest.py
Owners: @lbianchi-lbl

Disable pytest ignoring warnings
  pytest.ini
Owners: @lbianchi-lbl

Format with Black
  idaes/conftest.py
Owners: @lbianchi-lbl

Reverted pytests.ini and corrected tests
  idaes/apps/grid_integration/multiperiod/price_taker_model.py
  pytest.ini
Owners: @jsiirola, @adowling2, @lbianchi-lbl

Updated plotting test
  idaes/apps/grid_integration/multiperiod/price_taker_model.py
  idaes/apps/grid_integration/multiperiod/tests/test_price_taker.py
Owners: @jsiirola, @adowling2

Ran Black again
  idaes/apps/grid_integration/multiperiod/tests/test_price_taker.py
Owners: @jsiirola, @adowling2
