Repository IDAES/idaes-pse, pull requests merged in 2022-10, with the labels that each got.

#870 Generalize LMP forecaster
  idaes/apps/grid_integration/bidder.py
  idaes/apps/grid_integration/coordinator.py
  idaes/apps/grid_integration/forecaster.py
  idaes/apps/grid_integration/tests/test_backcaster.py
  idaes/apps/grid_integration/tests/util.py
Labels: Priority:High

#988 Switch Linux CI jobs to ubuntu-20.04 runner image
  .github/workflows/core.yml
  .github/workflows/integration.yml
Labels: Priority:High

#991 Adding UnitSet object to manage definition of base and derived units
  docs/explanations/components/property_package/uom.rst
  idaes/core/base/property_meta.py
  idaes/core/base/reaction_base.py
  idaes/core/base/tests/test_components.py
  idaes/core/base/tests/test_property_meta.py
  idaes/models/properties/modular_properties/base/tests/test_generic_property.py
  idaes/models/properties/modular_properties/base/tests/test_generic_reaction.py
  idaes/models/properties/modular_properties/pure/tests/test_ConstantProperties.py
  idaes/models/properties/modular_properties/pure/tests/test_NIST.py
  idaes/models/properties/modular_properties/pure/tests/test_Perrys.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP3.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP4.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP5.py
  idaes/models/properties/modular_properties/pure/tests/test_electrolyte.py
  idaes/models/properties/modular_properties/reactions/tests/test_dh_rxn.py
Labels: enhancement, Priority:Normal, core

#994 Deploying new UnitSet API to code base
  idaes/core/base/components.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/properties/modular_properties/coolprop/coolprop_wrapper.py
  idaes/models/properties/modular_properties/eos/eos_base.py
  idaes/models/properties/modular_properties/phase_equil/henry.py
  idaes/models/properties/modular_properties/phase_equil/smooth_VLE.py
  idaes/models/properties/modular_properties/pure/ConstantProperties.py
  idaes/models/properties/modular_properties/pure/NIST.py
  idaes/models/properties/modular_properties/pure/Perrys.py
  idaes/models/properties/modular_properties/pure/RPP3.py
  idaes/models/properties/modular_properties/pure/RPP4.py
  idaes/models/properties/modular_properties/pure/RPP5.py
  idaes/models/properties/modular_properties/reactions/equilibrium_constant.py
  idaes/models/properties/modular_properties/reactions/rate_constant.py
  idaes/models/properties/modular_properties/reactions/tests/test_equilibrium_constant.py
  idaes/models/properties/modular_properties/state_definitions/FPhx.py
  idaes/models/properties/modular_properties/state_definitions/FTPx.py
  idaes/models/properties/modular_properties/state_definitions/FcPh.py
  idaes/models/properties/modular_properties/state_definitions/FcTP.py
  idaes/models/properties/modular_properties/state_definitions/FpcTP.py
  idaes/models/properties/modular_properties/state_definitions/electrolyte_states.py
  idaes/models_extra/column_models/properties/MEA_solvent.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/gas_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/solid_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/gas_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/solid_phase_thermo.py
Labels: enhancement, Priority:Normal, core

#999 Remove remaining code from old costing framework
  docs/reference_guides/core/util/index.rst
  docs/reference_guides/core/util/unit_costing.rst
  docs/reference_guides/model_libraries/power_generation/costing/power_plant_costing_netl.rst
  idaes/core/base/flowsheet_model.py
  idaes/core/base/unit_model.py
  idaes/core/util/tags.py
  idaes/core/util/unit_costing.py
  idaes/models/unit_models/cstr.py
  idaes/models/unit_models/flash.py
  idaes/models/unit_models/heat_exchanger_ntu.py
  idaes/models/unit_models/plug_flow_reactor.py
  idaes/models/unit_models/pressure_changer.py
  idaes/models/unit_models/stoichiometric_reactor.py
  idaes/models_extra/power_generation/unit_models/helm/condenser_ntu.py
Labels: Priority:Normal, core, IDAES v2.0, backward-compat

#1001 Adding more models to performance testing suite
  idaes/core/util/performance.py
  idaes/models_extra/column_models/tests/test_MEAsolvent_column.py
  idaes/models_extra/column_models/tests/test_tray_column.py
  idaes/models_extra/gas_solid_contactors/unit_models/tests/test_FB1D.py
Labels: Priority:Normal, testing
