Repository IDAES/idaes-pse, pull requests merged in 2022-09, with the labels that each got.

#926 Initial implementation of IDAES Performance Testing Suite
  idaes/conftest.py
  idaes/core/util/performance.py
  idaes/models/properties/modular_properties/examples/tests/test_HC_PR.py
  idaes/models/unit_models/tests/test_heat_exchanger_1D.py
  pytest.ini
Labels: enhancement, Priority:High, testing, IDAES v2.0

#940 Add a more general Helmholtz EoS Implementation
  idaes/config.py
  idaes/core/util/expr_doc.py
  idaes/core/util/tags.py
  idaes/models/properties/general_helmholtz/__init__.py
  idaes/models/properties/general_helmholtz/components/__init__.py
  idaes/models/properties/general_helmholtz/components/co2.py
  idaes/models/properties/general_helmholtz/components/h2o.py
  idaes/models/properties/general_helmholtz/components/r1234ze.py
  idaes/models/properties/general_helmholtz/components/r134a.py
  idaes/models/properties/general_helmholtz/helmholtz_functions.py
  idaes/models/properties/general_helmholtz/helmholtz_state.py
  idaes/models/properties/general_helmholtz/tests/__init__.py
  idaes/models/properties/general_helmholtz/tests/test_functions_unit.py
  idaes/models/properties/general_helmholtz/tests/test_with_harness.py
  idaes/models/properties/general_helmholtz/tests/test_with_heater.py
Labels: Priority:High

#949 Fixing issue with pytest flags
  idaes/conftest.py
Labels: bug, Priority:High, testing

#947 Fixing some old deprecations
  docs/reference_guides/core/homotopy.rst
  idaes/apps/uncertainty_propagation/sens.py
  idaes/core/util/__init__.py
  idaes/core/util/config.py
  idaes/core/util/homotopy.py
  idaes/core/util/misc.py
  idaes/core/util/plot.py
  idaes/core/util/tests/test_config.py
  idaes/models/control/tests/test_steam_tank.py
  idaes/models_extra/column_models/tests/test_MEAsolvent_column.py
  idaes/models_extra/power_generation/unit_models/boiler_heat_exchanger.py
Labels: Priority:Normal, IDAES v2.0

#952 Removing more easy deprecations
  idaes/core/base/property_base.py
  idaes/core/base/reaction_base.py
  idaes/core/base/tests/test_property_base.py
  idaes/core/util/__init__.py
  idaes/core/util/misc.py
  idaes/core/util/scaling.py
  idaes/core/util/testing.py
  idaes/core/util/tests/test_misc.py
  idaes/core/util/tests/test_scaling.py
  idaes/models/control/tests/test_steam_tank.py
  idaes/models_extra/carbon_capture/tests/test_co2_compressor.py
  idaes/models_extra/convergence/heater.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/steam_cycle_flowsheet.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_boiler_flowsheet.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/supercritical_steam_cycle.py
Labels: Priority:Normal, IDAES v2.0

#954 Removing deprecations in Modular Properties code
  idaes/core/base/unit_model.py
  idaes/core/util/dyn_utils.py
  idaes/core/util/tests/test_phase_equilibria.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/properties/modular_properties/base/tests/test_noncondense.py
  idaes/models/properties/modular_properties/base/tests/test_nonvap.py
  idaes/models/properties/modular_properties/examples/BT_ideal.py
  idaes/models/properties/modular_properties/examples/CO2_H2O_Ideal_VLE.py
  idaes/models/properties/modular_properties/examples/HC_PR.py
  idaes/models/properties/modular_properties/examples/HC_PR_vap.py
  idaes/models/properties/modular_properties/examples/tests/test_BTIdeal_FPhx.py
  idaes/models/properties/modular_properties/examples/tests/test_BTIdeal_FcPh.py
  idaes/models/properties/modular_properties/examples/tests/test_BTIdeal_FcTP.py
  idaes/models/properties/modular_properties/phase_equil/smooth_VLE.py
  idaes/models/properties/modular_properties/pure/NIST.py
  idaes/models/properties/modular_properties/pure/Perrys.py
  idaes/models/properties/modular_properties/pure/RPP3.py
  idaes/models/properties/modular_properties/pure/RPP4.py
  idaes/models/properties/modular_properties/pure/RPP5.py
  idaes/models/properties/modular_properties/pure/tests/test_NIST.py
  idaes/models/properties/modular_properties/pure/tests/test_Perrys.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP3.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP4.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP5.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FpcTP.py
  idaes/models_extra/power_generation/unit_models/boiler_heat_exchanger.py
  idaes/models_extra/power_generation/unit_models/tests/test_boiler_heat_exchanger.py
Labels: Priority:Normal, property packages, IDAES v2.0

#955 Removing deprecated controller models
  idaes/core/util/tests/test_pid_initialization.py
  idaes/models/control/__init__.py
  idaes/models/control/controller.py
  idaes/models/control/pid_controller.py
  idaes/models/control/tests/test_steam_tank.py
  idaes/models_extra/power_generation/control/__init__.py
  idaes/models_extra/power_generation/control/pid_controller.py
  idaes/models_extra/power_generation/control/tests/__init__.py
  idaes/models_extra/power_generation/control/tests/test_pid_pump.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/steam_cycle_flowsheet.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_power_plant.py
Labels: Priority:Normal, unit models, IDAES v2.0

#959 Removing backwards compatibility for default argument
  idaes/core/base/process_block.py
Labels: Priority:High, core, IDAES v2.0

#948 Addressing Deprecation Messages
  idaes/core/util/__init__.py
  idaes/core/util/tests/test_tag_svg.py
  idaes/core/util/tests/test_tags.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_power_plant.py
  idaes/models_extra/power_generation/flowsheets/supercritical_power_plant/boiler_subflowsheet_build.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/supercritical_steam_cycle.py
Labels: Priority:High, core, IDAES v2.0

#960 Moving notebooks to examples
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/plant_pfd.svg
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/plant_pfd_result.svg
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/sub_boiler_1.png
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_boiler.ipynb
  idaes/models_extra/power_generation/flowsheets/supercritical_power_plant/Boiler_scpc_PFD.svg
  idaes/models_extra/power_generation/flowsheets/supercritical_power_plant/supercritical_power_plant.ipynb
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/supercritical_steam_cycle.ipynb
Labels: documentation, Priority:Normal, unit models

#962 Fixing some deprecations from Pyomo
  idaes/apps/caprese/rolling.py
  idaes/apps/uncertainty_propagation/sens.py
  idaes/core/base/tests/test_var_like_expression.py
  idaes/core/plugins/simple_equality_eliminator.py
  idaes/core/plugins/variable_replace.py
  idaes/core/util/initialization.py
  idaes/models/unit_models/tests/test_mixer.py
  idaes/models_extra/power_generation/unit_models/drum1D.py
Labels: Priority:Normal, dependencies, IDAES v2.0

#964 Removing part of the old costing framework
  idaes/core/base/tests/test_flowsheet_model.py
  idaes/core/util/tests/test_unit_costing.py
  idaes/core/util/unit_costing.py
  idaes/models/unit_models/cstr.py
  idaes/models/unit_models/flash.py
  idaes/models/unit_models/heat_exchanger_ntu.py
  idaes/models/unit_models/plug_flow_reactor.py
  idaes/models/unit_models/stoichiometric_reactor.py
  idaes/models/unit_models/tests/test_cstr.py
  idaes/models/unit_models/tests/test_flash.py
  idaes/models/unit_models/tests/test_pfr.py
  idaes/models/unit_models/tests/test_pressure_changer.py
  idaes/models/unit_models/tests/test_rstoic.py
Labels: Priority:Normal, core, IDAES v2.0

#965 Removing most of the remaining deprecations
  idaes/core/base/process_block.py
  idaes/core/util/__init__.py
  idaes/core/util/misc.py
  idaes/core/util/tables.py
  idaes/core/util/tags.py
  idaes/core/util/tests/test_misc.py
  idaes/core/util/tests/test_tables.py
  idaes/core/util/tests/test_tags.py
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_power_plant.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/__init__.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/supercritical_steam_cycle.py
  idaes/models_extra/power_generation/unit_models/tests/test_boiler_heat_exchanger.py
Labels: Priority:Normal, IDAES v2.0

#971 Re-adding pfd_results methods
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/plant_pfd.svg
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/plant_pfd_result.svg
  idaes/models_extra/power_generation/flowsheets/subcritical_power_plant/subcritical_power_plant.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/__init__.py
  idaes/models_extra/power_generation/flowsheets/supercritical_steam_cycle/supercritical_steam_cycle.py
Labels: bug, documentation, Priority:High

#974 Update run-examples CI action to track changes in examples installation
  .github/actions/run-examples/action.yml
Labels: Priority:High

#950 Scaling dynamics
  idaes/core/solvers/petsc.py
  idaes/core/solvers/tests/test_petsc.py
  idaes/core/util/scaling.py
  idaes/core/util/tests/test_scaling.py
Labels: Priority:Normal

#939 Enhance Layout
  idaes/core/ui/flowsheet.py
  idaes/core/ui/icons/icons.py
  idaes/core/ui/icons/positioning.py
  idaes/core/ui/tests/demo_flowsheet.json
  idaes/core/ui/tests/flash_flowsheet.json
  idaes/core/ui/tests/serialized_boiler_flowsheet.json
  idaes/core/ui/tests/test_flowsheet.py
  idaes/core/ui/tests/test_icons.py
Labels: Priority:High
