Repository IDAES/idaes-pse, pull requests merged in 2023-01, with the labels that each got.

#1059 Fixing definition of log in ALAMOpy
  idaes/core/surrogate/alamopy.py
  idaes/core/surrogate/tests/test_alamopy.py
Labels: bug, Priority:Normal, surrogates

#1062 Update convergence tester
  idaes/core/util/convergence/convergence_base.py
  idaes/core/util/convergence/tests/ipopt_output.txt
  idaes/core/util/convergence/tests/test_convergence.py
Labels: enhancement, Priority:Normal, core, testing, backward-compat

#1063 Fix typos in custom model documentation
  docs/how_to_guides/custom_models/property_package_development.rst
  docs/how_to_guides/custom_models/unit_model_development.rst
Labels: documentation, Priority:Normal

#1068 Move verification tests to idaes-compatibility
  idaes/models/properties/modular_properties/eos/tests/test_enrtl_verification_2_solvent.py
  idaes/models/properties/modular_properties/eos/tests/test_enrtl_verification_KCl.py
  idaes/models/properties/modular_properties/eos/tests/test_enrtl_verification_NaCl.py
  idaes/models/properties/modular_properties/eos/tests/test_enrtl_verification_NaCl_KCl.py
  idaes/models/properties/modular_properties/eos/tests/test_haber_bosch_validation_PR.py
  idaes/models/properties/modular_properties/examples/enrtl_H2O_NaCl_KCl.py
  idaes/models/properties/modular_properties/examples/enrtl_NaBr_mixed_solvent.py
  idaes/models/properties/modular_properties/examples/tests/test_enrtl_H2O_NaCl_KCl.py
  idaes/models/properties/modular_properties/examples/tests/test_entrl_NaBr_mixed_solvent.py
Labels: Priority:Normal, property packages, testing

#1066 Reduce number of tests requiring downloads
  idaes/commands/extensions.py
  idaes/commands/tests/test_commands.py
  idaes/commands/util/download_bin.py
  idaes/commands/util/tests/checksum.txt
  idaes/commands/util/tests/test_download_bin.py
Labels: Priority:High, core, testing

#995 Improving properties metadata
  docs/explanations/components/property_package/general/generic_definition.rst
  docs/explanations/components/property_package/general_reactions/generic_reactions.rst
  docs/explanations/components/property_package/index.rst
  docs/explanations/conventions.rst
  docs/reference_guides/core/electrolyte_property_set.rst
  docs/reference_guides/core/index.rst
  docs/reference_guides/core/property_metadata.rst
  docs/reference_guides/core/property_set.rst
  docs/reference_guides/core/standard_property_set.rst
  docs/reference_guides/core/uom.rst
  idaes/core/__init__.py
  idaes/core/base/property_base.py
  idaes/core/base/property_meta.py
  idaes/core/base/property_set.py
  idaes/core/base/reaction_base.py
  idaes/core/base/tests/test_components.py
  idaes/core/base/tests/test_property_base.py
  idaes/core/base/tests/test_property_meta.py
  idaes/core/base/tests/test_property_set.py
  idaes/core/base/tests/test_reaction_base.py
  idaes/core/base/util.py
  idaes/core/dmf/tests/test_codesearch.py
  idaes/core/util/testing.py
  idaes/models/properties/activity_coeff_models/activity_coeff_prop_pack.py
  idaes/models/properties/activity_coeff_models/tests/test_ideal_NRTL.py
  idaes/models/properties/activity_coeff_models/tests/test_ideal_Wilson.py
  idaes/models/properties/general_helmholtz/helmholtz_functions.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/properties/modular_properties/base/generic_reaction.py
  idaes/models/properties/modular_properties/base/tests/test_generic_property.py
  idaes/models/properties/modular_properties/base/tests/test_generic_reaction.py
  idaes/models/properties/modular_properties/pure/tests/test_ConstantProperties.py
  idaes/models/properties/modular_properties/pure/tests/test_NIST.py
  idaes/models/properties/modular_properties/pure/tests/test_Perrys.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP3.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP4.py
  idaes/models/properties/modular_properties/pure/tests/test_RPP5.py
  idaes/models/properties/modular_properties/pure/tests/test_electrolyte.py
  idaes/models/properties/modular_properties/reactions/tests/test_dh_rxn.py
  idaes/models/properties/modular_properties/state_definitions/FPhx.py
  idaes/models/properties/modular_properties/state_definitions/FcPh.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FPhx.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FcPh.py
  idaes/models/unit_models/tests/test_mixer.py
  idaes/models_extra/gas_distribution/properties/natural_gas.py
  idaes/models_extra/gas_distribution/properties/tests/test_natural_gas.py
  idaes/models_extra/gas_distribution/unit_models/node.py
  idaes/models_extra/gas_distribution/unit_models/pipeline.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/gas_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/hetero_reactions.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/solid_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/tests/test_CLC_gas_prop.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/gas_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/hetero_reactions.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/solid_phase_thermo.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/tests/test_CLC_gas_prop.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/tests/test_CLC_solid_prop.py
  idaes/models_extra/gas_solid_contactors/unit_models/bubbling_fluidized_bed.py
Labels: enhancement, Priority:Normal, IDAES v2.0

#1023 Adding scaling expression walker
  docs/index.rst
  docs/reference_guides/core/util/scaling.rst
  docs/reference_guides/index.rst
  docs/reference_guides/scaling.rst
  idaes/core/base/process_base.py
  idaes/core/base/property_base.py
  idaes/core/base/reaction_base.py
  idaes/core/base/tests/test_process_base.py
  idaes/core/util/scaling.py
  idaes/core/util/tests/test_scaling.py
  idaes/models/properties/modular_properties/base/generic_reaction.py
  idaes/models_extra/gas_solid_contactors/properties/methane_iron_OC_reduction/hetero_reactions.py
  idaes/models_extra/gas_solid_contactors/properties/oxygen_iron_OC_oxidation/hetero_reactions.py
  idaes/models_extra/gas_solid_contactors/unit_models/tests/test_FB1D.py
  setup.py
Labels: enhancement, Priority:Normal, core

#1051 New Initialization API
  docs/index.rst
  docs/reference_guides/index.rst
  docs/reference_guides/initialization/bt_initializer.rst
  docs/reference_guides/initialization/developing_initializers.rst
  docs/reference_guides/initialization/from_data_initializer.rst
  docs/reference_guides/initialization/general_initializers.rst
  docs/reference_guides/initialization/index.rst
  docs/reference_guides/initialization/single_cv_initializer.rst
  docs/reference_guides/initialization/specific_initializers.rst
  idaes/core/base/process_base.py
  idaes/core/base/tests/test_process_base.py
  idaes/core/base/unit_model.py
  idaes/core/initialization/__init__.py
  idaes/core/initialization/block_triangularization.py
  idaes/core/initialization/general_hierarchical.py
  idaes/core/initialization/initialize_from_data.py
  idaes/core/initialization/initializer_base.py
  idaes/core/initialization/tests/__init__.py
  idaes/core/initialization/tests/init_example.json
  idaes/core/initialization/tests/test_block_triangularization.py
  idaes/core/initialization/tests/test_general_hierarchical.py
  idaes/core/initialization/tests/test_initialize_from_data.py
  idaes/core/initialization/tests/test_initializer_base.py
  idaes/core/util/model_serializer.py
  idaes/core/util/model_statistics.py
Labels: enhancement, Priority:High, core, unit models, IDAES v2.0
