Repository IDAES/idaes-pse, pull requests merged in 2023-06, with the labels that each got.

#1209 Fix bug related to cloning modular properties methods
  idaes/models/properties/modular_properties/state_definitions/FPhx.py
  idaes/models/properties/modular_properties/state_definitions/FTPx.py
  idaes/models/properties/modular_properties/state_definitions/FcPh.py
  idaes/models/properties/modular_properties/state_definitions/FcTP.py
  idaes/models/properties/modular_properties/state_definitions/FpcTP.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FPhx.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FTPx.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FcPh.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FcTP.py
  idaes/models/properties/modular_properties/state_definitions/tests/test_FpcTP.py
Labels: bug, Priority:Normal, property packages

#1213 Raise exception in modular properties if IdealBubbleDew used with more than 2 phases
  docs/explanations/components/property_package/general/bubble_dew.rst
  docs/reference_guides/core/util/index.rst
  docs/reference_guides/core/util/math.rst
  idaes/models/properties/modular_properties/phase_equil/bubble_dew.py
  idaes/models/properties/modular_properties/phase_equil/tests/test_bubble_dew.py
Labels: bug, user request, Priority:Normal, property packages

#1214 Adding support for Separators with no energy balance
  docs/reference_guides/model_libraries/generic/unit_models/separator.rst
  idaes/models/unit_models/separator.py
  idaes/models/unit_models/tests/test_separator.py
Labels: enhancement, Priority:Normal, unit models, WaterTAP, PrOMMiS
