Repository IDAES/idaes-pse, pull requests merged in 2023-04, with the labels that each got.

#1150 Strip units when constrant_scaling_transforming
  idaes/core/util/scaling.py
  idaes/core/util/tests/test_scaling.py
Labels: Priority:Normal

#1162 Fix Pandas.Series append
  idaes/core/surrogate/pysmo/tests/test_polynomial_regression.py
  setup.py
Labels: Priority:High, testing, surrogates, backward-compat

#1154 Stream tables for non-standard Helmholtz units
  idaes/models_extra/power_generation/unit_models/helm/condenser_ntu.py
  idaes/models_extra/power_generation/unit_models/helm/mixer.py
  idaes/models_extra/power_generation/unit_models/helm/phase_separator.py
  idaes/models_extra/power_generation/unit_models/helm/splitter.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_condenser_ntu.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_mixer.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_phase_separator.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_splitter.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_turbine_inlet.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_turbine_outlet.py
  idaes/models_extra/power_generation/unit_models/helm/tests/test_turbine_stage.py
  idaes/models_extra/power_generation/unit_models/helm/turbine_multistage.py
Labels: user request, Priority:Normal, ui, models_extra

#1163 Update Prescient requirement to 2.2.2
  setup.py
Labels: Priority:High, dependencies, backward-compat, apps

#1153 Add Initializers for most property packages
  idaes/core/base/property_base.py
  idaes/core/base/reaction_base.py
  idaes/core/base/tests/test_unit_model.py
  idaes/core/base/unit_model.py
  idaes/core/initialization/block_triangularization.py
  idaes/core/initialization/general_hierarchical.py
  idaes/core/initialization/initializer_base.py
  idaes/core/initialization/tests/test_block_triangularization.py
  idaes/core/initialization/tests/test_general_hierarchical.py
  idaes/core/initialization/tests/test_initializer_base.py
  idaes/models/properties/activity_coeff_models/activity_coeff_prop_pack.py
  idaes/models/properties/cubic_eos/cubic_prop_pack.py
  idaes/models/properties/cubic_eos/tests/test_cubic_prop_pack.py
  idaes/models/properties/examples/saponification_thermo.py
  idaes/models/properties/general_helmholtz/__init__.py
  idaes/models/properties/general_helmholtz/helmholtz_functions.py
  idaes/models/properties/general_helmholtz/helmholtz_state.py
  idaes/models/properties/general_helmholtz/tests/test_functions_unit.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/properties/modular_properties/base/tests/test_generic_property.py
  idaes/models/properties/tests/test_harness.py
  idaes/models/unit_models/tests/test_cstr.py
  idaes/models/unit_models/tests/test_equilibrium_reactor.py
  idaes/models/unit_models/tests/test_feed.py
  idaes/models/unit_models/tests/test_feed_flash.py
Labels: enhancement, Priority:Normal, property packages, unit models

#1167 Adding voltage units to `property_meta` file
  idaes/core/base/property_meta.py
  idaes/core/base/tests/test_property_meta.py
Labels: enhancement, Priority:Normal, core, WaterTAP

#1166 RBF patch for basis function display.
  idaes/core/surrogate/pysmo_surrogate.py
  idaes/core/surrogate/tests/test_pysmo_surrogate.py
Labels: bug, Priority:Normal, surrogates

#1168 Testing Initializers for more models
  idaes/core/initialization/block_triangularization.py
  idaes/core/initialization/general_hierarchical.py
  idaes/core/initialization/initializer_base.py
  idaes/core/initialization/tests/test_block_triangularization.py
  idaes/core/initialization/tests/test_general_hierarchical.py
  idaes/core/initialization/tests/test_initializer_base.py
  idaes/models/properties/cubic_eos/cubic_prop_pack.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/unit_models/feed.py
  idaes/models/unit_models/skeleton_model.py
  idaes/models/unit_models/tests/test_cstr.py
  idaes/models/unit_models/tests/test_equilibrium_reactor.py
  idaes/models/unit_models/tests/test_feed.py
  idaes/models/unit_models/tests/test_feed_flash.py
  idaes/models/unit_models/tests/test_flash.py
  idaes/models/unit_models/tests/test_gibbs.py
  idaes/models/unit_models/tests/test_heater.py
  idaes/models/unit_models/tests/test_rstoic.py
  idaes/models/unit_models/tests/test_skeleton_unit_model.py
Labels: enhancement, Priority:Normal, core, property packages, unit models

#1170 More Initializer Testing
  idaes/core/initialization/general_hierarchical.py
  idaes/core/initialization/initializer_base.py
  idaes/core/initialization/tests/test_block_triangularization.py
  idaes/core/initialization/tests/test_general_hierarchical.py
  idaes/models/properties/activity_coeff_models/activity_coeff_prop_pack.py
  idaes/models/properties/activity_coeff_models/tests/test_ideal_ideal_FTPz.py
  idaes/models/properties/activity_coeff_models/tests/test_ideal_ideal_FcTP.py
  idaes/models/properties/cubic_eos/tests/test_cubic_prop_pack.py
  idaes/models/properties/general_helmholtz/helmholtz_state.py
  idaes/models/properties/modular_properties/base/generic_property.py
  idaes/models/properties/modular_properties/base/tests/test_generic_property.py
  idaes/models/unit_models/heat_exchanger.py
  idaes/models/unit_models/mixer.py
  idaes/models/unit_models/pressure_changer.py
  idaes/models/unit_models/product.py
  idaes/models/unit_models/separator.py
  idaes/models/unit_models/tests/test_heat_exchanger.py
  idaes/models/unit_models/tests/test_mixer.py
  idaes/models/unit_models/tests/test_pfr.py
  idaes/models/unit_models/tests/test_pressure_changer.py
  idaes/models/unit_models/tests/test_product.py
  idaes/models/unit_models/tests/test_separator.py
Labels: enhancement, Priority:Normal, core, property packages, unit models

#1173 Last set of core model Initializers
  idaes/core/initialization/initializer_base.py
  idaes/models/unit_models/heat_exchanger.py
  idaes/models/unit_models/heat_exchanger_1D.py
  idaes/models/unit_models/heat_exchanger_ntu.py
  idaes/models/unit_models/mixer.py
  idaes/models/unit_models/pressure_changer.py
  idaes/models/unit_models/separator.py
  idaes/models/unit_models/shell_and_tube_1d.py
  idaes/models/unit_models/statejunction.py
  idaes/models/unit_models/tests/test_heat_exchanger_1D.py
  idaes/models/unit_models/tests/test_heat_exchanger_lc.py
  idaes/models/unit_models/tests/test_hx_ntu.py
  idaes/models/unit_models/tests/test_shell_and_tube_1D.py
  idaes/models/unit_models/tests/test_statejunction.py
  idaes/models/unit_models/tests/test_translator.py
  idaes/models/unit_models/translator.py
Labels: enhancement, Priority:Normal, unit models

#1179 Set constraint on IPython version for Python 3.8 support
  setup.py
Labels: Priority:High

#1177 Documentation of new Initializers
  .github/actions/run-examples/examples_for_idaes_ci.py
  docs/explanations/components/property_package/general/index.rst
  docs/explanations/components/property_package/index.rst
  docs/reference_guides/initialization/bt_initializer.rst
  docs/reference_guides/initialization/index.rst
  docs/reference_guides/initialization/single_cv_initializer.rst
  docs/reference_guides/initialization/specific_initializers.rst
  docs/reference_guides/model_libraries/generic/property_models/activity_coefficient.rst
  docs/reference_guides/model_libraries/generic/property_models/ceos.rst
  docs/reference_guides/model_libraries/generic/property_models/helmholtz.rst
  docs/reference_guides/model_libraries/generic/unit_models/feed.rst
  docs/reference_guides/model_libraries/generic/unit_models/heat_exchanger.rst
  docs/reference_guides/model_libraries/generic/unit_models/heat_exchanger_1D.rst
  docs/reference_guides/model_libraries/generic/unit_models/heat_exchanger_ntu.rst
  docs/reference_guides/model_libraries/generic/unit_models/mixer.rst
  docs/reference_guides/model_libraries/generic/unit_models/pressure_changer.rst
  docs/reference_guides/model_libraries/generic/unit_models/product.rst
  docs/reference_guides/model_libraries/generic/unit_models/separator.rst
  docs/reference_guides/model_libraries/generic/unit_models/shell_and_tube_1d.rst
  docs/reference_guides/model_libraries/generic/unit_models/statejunction.rst
  idaes/core/base/process_block.py
  idaes/core/initialization/block_triangularization.py
  idaes/core/initialization/initializer_base.py
  idaes/models/properties/cubic_eos/cubic_prop_pack.py
  idaes/models/properties/general_helmholtz/helmholtz_state.py
  idaes/models/unit_models/feed.py
  idaes/models/unit_models/heat_exchanger.py
  idaes/models/unit_models/heat_exchanger_1D.py
  idaes/models/unit_models/heat_exchanger_ntu.py
  idaes/models/unit_models/mixer.py
  idaes/models/unit_models/pressure_changer.py
  idaes/models/unit_models/separator.py
  idaes/models/unit_models/shell_and_tube_1d.py
Labels: documentation, Priority:Normal, property packages, unit models

#1132 Update docs to use IDAES/examples instead of IDAES/examples-pse
  docs/conf.py
  docs/explanations/faq.rst
  docs/index.rst
  docs/reference_guides/commands/get_examples.rst
  docs/reference_guides/commands/index.rst
  docs/static/css/custom.css
  docs/tutorials/getting_started/index.rst
  docs/tutorials/getting_started/install_templates/conda_idaes_pse.txt
  docs/tutorials/getting_started/install_templates/examples.md
  docs/tutorials/getting_started/install_templates/examples.txt
  docs/tutorials/getting_started/install_templates/extensions.txt
  docs/tutorials/getting_started/install_templates/idaes_data.txt
  docs/tutorials/getting_started/install_templates/quickstart.txt
  docs/tutorials/getting_started/install_templates/run_tests.txt
  docs/tutorials/getting_started/linux.rst
  docs/tutorials/getting_started/mac_osx.rst
  docs/tutorials/getting_started/windows.rst
  docs/tutorials/index.rst
  docs/tutorials/tutorials_examples.rst
Labels: documentation, Priority:High
